
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
<style>
    .container-tier {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 500px;
    }
    
    .tier {
        width: 100px;
        height: 100px;
        background-color: lightblue;
        border: 2px solid blue;
        margin-top: 10px;
    }
</style>
</head>
<body>

<div class="container-tier">
    <div class="tier"></div>
    <div class="tier"></div>
    <div class="tier"></div>
    <div class="tier"></div>
    <div class="tier"></div>
    <div class="tier"></div>
</div>

</body>
</html>