@{
    ViewData["Title"] = "Quản lý Tồn kho";
}
<div class="card">
    <div class="card-header">
        <h3>Quản lý Tồn kho</h3>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row" style="margin-bottom:20px;">
                <div class="col-sm-3 col-md-3"">
                    <select id="warehouseSelect" name="warehouseSelect" class="form-control" style="margin-right: 10px;">
                        <option value="0">-- Chọn kho --</option>
                        @foreach(var warehouse in ViewBag.WarehouseList)
                        {
                            <option value="@warehouse.Id">@warehouse.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-2 col-md-2">
                    <a class="btn btn-primary" onclick="ChooseWarehouse()"> Chọn kho</a>
                </div>
            </div>
            <table id="truckTable" class="table table-striped table-bDetailed" style="width:100%">
                <thead>
                    <tr>
                        <th>Bay</th>
                        <th>Row</th>
                        <th>Tier</th>
                        <th>PO</th>
                        <th>Item</th>
                        <th>Số lượng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#truckTable").DataTable({
                "ajax": {
                    "url": "CurrentPosition/GetCurrentStock?warehouseid=0",
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "bay" },
                    { "data": "row" },
                    { "data": "tier" },
                    { "data": "po" },
                    { "data": "item" },
                    { "data": "quantity" },
                ]
            });
        });
        
        function ChooseWarehouse(){
            var selectedWh = $('#warehouseSelect').val();
            if (selectedWh == 0 || selectedWh == undefined) {
                $.notify('Hãy chọn kho trước!', {
                    globalPosition: "top center",
                    className: "error"
                })
                return false;
            }
            dataTable.ajax.url('CurrentPosition/GetCurrentStock?warehouseid=' + selectedWh).load();
        }

    </script>
}
