
@{
    ViewData["Title"] = "Sơ đồ Tồn kho";
}

<style>
    #layout.active{
        border: 0.5px solid #d1d3e2;
        border-radius: 0.35rem;
        padding: 10px;
    }
    .square {
        width: 25px;
        height: 25px;
        border: 0.5px solid #d1d3e2;
        margin: 2px;
        float: left; 
        cursor: pointer;
    }

</style>

<div class="card">
    <div class="card-header">
        <h3>Sơ đồ Tồn kho</h3>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row" style="margin-bottom:20px;">
                <div class="col-sm-3 col-md-3"">
                    <select id="warehouseSelect" name="warehouseSelect" class="form-control" style="margin-right: 10px;">
                        <option value="0">-- Chọn kho --</option>
                        @foreach(var warehouse in ViewBag.WarehouseList)
                        {
                            <option value="@warehouse.Id">@warehouse.Name</option>
                        }
                    </select>
                </div>
                <div class="col-sm-2 col-md-2">
                    <a class="btn btn-primary" onclick="ChooseWarehouse()"> Chọn kho</a>
                </div>
            </div>
            <div id="layout">
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function ChooseWarehouse() {
            var selectedWh = $('#warehouseSelect').val();
            if (selectedWh == 0 || selectedWh == undefined) {
                $.notify('Hãy chọn kho trước!', {
                    globalPosition: "top center",
                    className: "error"
                })
                return false;
            }
            else {
                $.ajax({
                    type: "GET",
                    url: 'GetStackLayout?warehouseid=' + selectedWh,
                    success: function (data) {
                        if (!$('#layout').hasClass('active')) {
                            $('#layout').addClass('active'); 
                        }
                        var layout = "";
                        data.forEach(function(bay) {
                            layout += '<div class="row"><div class="col-1">' + bay.bay + '</div><div class="col-11">';
                            bay.rowList.forEach(function(row) {
                                if (row.rowColor != undefined || row.rowColor != null)
                                    layout += '<div class="square" style="background-color:' + 
                                    row.rowColor + ';"' + ' onclick=PopupForm("DisplayTier?bay=' + 
                                    bay.bay + '&row=' + row.rowText + '&warehouseid=' + 
                                    selectedWh + '")>' + row.rowText + '</div>';
                                else layout += '<div class="square" onclick=PopupForm("DisplayTier?bay=' + 
                                    bay.bay + '&row=' + row.rowText + '&warehouseid=' + 
                                    selectedWh + '">' + row.rowText + '</div>'; 
                            });
                            layout += '</div></div>'; 
                        });
                        $('#layout').html(layout);
                    }
                });
            }
        }

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizeable: false,
                        title: 'Sơ đồ Row chi tiết',
                        height: 470,
                        width: 600,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }
    </script>
}