@{
    ViewData["Title"] = "Danh sách Pallet";
}
<div class="card">
    <div class="card-header">
        <h3>Danh sách Pallet</h3>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <a class="btn btn-success" style="margin-bottom:10px;" onclick="PopupForm('Pallet/AddOrEdit')"><i class="fa fa-plus"></i> Thêm mới</a>
            <a class="btn btn-primary" style="margin-bottom:10px;" onclick="PopupForm('Pallet/AddOrEdit')"><i class="fa fa-plus"></i> Thêm mới</a>

            <table id="truckTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="checkAll" /></th>
                        <th>Số Pallet</th>
                        <th>Ngày tạo</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>


@section scripts{
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#truckTable").DataTable({
                "ajax": {
                    "url": "Pallet/GetAllPallet",
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    {
                        "data": "id",
                        "render": function(data, type, row, meta) {
                            return '<input data-id=' + row.id + ' type="checkbox">';
                        },
                        "orderable": "false",
                        "searchable": false,
                        "width": "20px",
                        "className": "text-center"
                    },
                    { "data": "palletNo" },
                    { "data": "createdDate", "render": function (data) {
                            var date = new Date(data);
                            var day = date.getDate();
                            var month = date.getMonth() + 1;
                            var year = date.getFullYear();
                            return (day < 10 ? "0" : "") + day + "/" + (month < 10 ? "0" : "") + month + "/" + year;
                        }
                    },
                    {
                        "data": "id", "render": function (data) {
                            return "<i class='fa fa-trash f-20 text-danger' onclick=Delete(" + data + ")></i>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "dth": "10px",
                        "className": 'text-center'
                    }
                ]
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
                .done(function (response) {
                    formDiv.html(response);
                    Popup = formDiv.dialog({
                        autoOpen: true,
                        resizeable: false,
                        title: 'Nhập số Pallet',
                        height: 250,
                        width: 600,
                        close: function () {
                            Popup.dialog('destroy').remove();
                        }
                    });
                });
        }

        function SubmitForm(form) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        Popup.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    else {
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "error"
                        })
                    }
                }
            });
            return false;
        }

        function Delete(id) {
            if (confirm("Bạn có muốn xóa Pallet này không?")) {
                $.ajax({
                    type: "GET",
                    url: 'Pallet/Delete?id=' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        else {
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })
                        }
                    }
                });
            }
        }
    </script>
}