
@{
    ViewData["Title"] = "Phân quyền Người dùng";
}
<style>
    .list-group-item:hover {
        cursor: pointer !important;
    }

    .list-group-item .active{
        background-color: blue;
        color: white;
    }
</style>

<div class="card">
    <div class="card-header">
        <h3>Phân quyền Chức danh</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-lg-3 col-12">
                <div id="listview" class="listview">
                    <label class="control-label">
                        <h4>Danh sách Người dùng</h4>
                    </label>
                    <ul class="list-group" id="role-list"></ul>
                </div>
            </div>
            <div class="col-md-9 col-lg-9 col-12">
                <div class="container-fluid">
                    <label class="control-label">
                        <h4>Danh sách Phân quyền</h4>
                    </label>
                    <div class="row">
                        <div class="container-fluid">
                            <button class="btn btn-success" style="margin-bottom:10px;" onclick="Update()"><i class="fa fa-save"></i> Cập nhật</button>
                        </div>
                    </div>
                    <table id="truckTable" class="table table-striped table-bordered" style="width:100%">
                        <thead>
                            <tr>
                                <th>Tên chức năng</th>
                                <th>Quyền xem</th>
                                <th>Quyền thêm</th>
                                <th>Quyền sửa</th>
                                <th>Quyền xóa</th>
                                <th>Quyền duyệt</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var dataTable;
        $(document).ready(function() {
            //load roles list to the left sidebar
            $.ajax({
                url: 'User/GetAllUser', 
                type: 'GET',
                dataType: 'json',
                success: function (users) {
                    users.data.forEach(function(user){
                        $('#role-list').append('<li class="list-group-item" data-role-id="' + user.id + '" onclick=GetPermission(' + user.id + ')>' + user.fullName+ '</li>');
                    });
                }
            });

            //first load empty permission
            dataTable = $("#truckTable").DataTable({
                "ajax": {
                    "url": "UserPermission/GetUserPermissionByUserId?userid=" + 0,
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    { "data": 'functionName' },
                    {
                        "data": 'hasCreate',
                        "render": function(data) {
                            return '<input type="checkbox"' + (data ? ' checked' : '') + '>';
                        }
                    },
                    {
                        "data": 'hasUpdate',
                        "render": function(data) {
                            return '<input type="checkbox"' + (data ? ' checked' : '') + '>';
                        }
                    },
                    {
                        "data": 'hasDelete',
                        "render": function(data) {
                            return '<input type="checkbox"' + (data ? ' checked' : '') + '>';
                        }
                    },
                    {
                        "data": 'hasView',
                        "render": function(data) {
                            return '<input type="checkbox"' + (data ? ' checked' : '') + '>';
                        }
                    },
                    {
                        "data": 'hasApprove',
                        "render": function(data) {
                            return '<input type="checkbox"' + (data ? ' checked' : '') + '>';
                        }
                    }
                ]
            });
        });

        //get permission of the clicked row
        function GetPermission(id) {
            //toggle class active to role-id id
            $('#role-list li').removeClass('active');
            $('#role-list li').filter(function() {
                return $(this).data('role-id') === id;
            }).addClass('active');

            //load permission of the clicked row
            dataTable.ajax.url("UserPermission/GetUserPermissionByUserId?userid=" + id).load();
        }

        //update role permission
        function Update() {

        }
    </script>
}