@model WarehouseManager.BackendServer.Data.Entities.Port
@{
    Layout = null;
}
<form action="Port/AddOrEdit" method="post" onsubmit="return SubmitForm(this)">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <label class="control-label">Tên cảng</label>
        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        <label class="control-label">Mã cảng</label>
        @Html.EditorFor(model => model.PortCode, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div class="form-group">
        <input type="submit" value="Cập nhật" class="btn btn-primary" />
        <input type="reset" value="Reset" class="btn btn-warning" />
    </div>
</form>
