@{
    ViewData["Title"] = "Chi tiết Lệnh xuất";
}
<div class="card">
    <div class="card-header">
        <h3>Chi tiết Lệnh xuất</h3>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <a class="btn btn-success" style="margin-bottom:10px;" onclick="PopupForm('AddOrEdit')"><i class="fa fa-plus"></i> Thêm mới</a>
            <a class="btn btn-primary" style="margin-bottom:10px;" onclick="CreateTallyJob()"><i class="fa fa-tasks"></i> Tạo job</a>
            <table id="truckTable" class="table table-striped table-bDetailed" style="width:100%">
                <thead>
                    <tr>
                        <th>PO</th>
                        <th>Item</th>
                        <th>Số lượng</th>
                        <th>Vị trí</th>
                        <th>GW</th>
                        <th>Kích thước</th>
                        <th>CBM</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#truckTable").DataTable({
                "ajax": {
                    "url": "GetDeliveryDetailByOrder?orderid=" + @ViewBag.OrderId,
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "po" },
                    { "data": "item" },
                    { "data": "quantity" },
                    { "data": "positionName" },
                    { "data": "weight" },
                    { "data": "size" },
                    { "data": "weight" },
                    {
                        "data": "id", "render": function (data) {
                            return "<i class='fa fa-pencil-alt f-18 text-success' onclick=PopupForm('AddOrEdit?id=" + data + "')><i/>";
                        },
                        "Detailable": false,
                        "searchable": false,
                        "width": "10px",
                        "className": 'text-center'
                    },
                    {
                        "data": "id", "render": function (data) {
                            return "<i class='fa fa-trash f-20 text-danger' onclick=Delete(" + data + ")></i>";
                        },
                        "Detailable": false,
                        "searchable": false,
                        "width": "10px",
                        "className": 'text-center'
                    }
                ]
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizeable: false,
                    title: 'Nhập thông tin PO',
                    height: 570,
                    width: 600,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
        }

        function SubmitForm(form) {
            $.ajax({
                type: "POST",
                url: form.action,
                data: $(form).serialize(),
                success: function (data) {
                    if (data.success) {
                        Popup.dialog('close');
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "success"
                        })
                    }
                    else {
                        dataTable.ajax.reload();
                        $.notify(data.message, {
                            globalPosition: "top center",
                            className: "error"
                        })
                    }
                }
            });
            return false;
        }

        function Delete(id) {
            if (confirm("Bạn có muốn xóa PO này không?")) {
                $.ajax({
                    type: "GET",
                    url: 'Delete?id=' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        else {
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })
                        }
                    }
                });
            }
        }

        function CreateTallyJob() {

        }
    </script>
}
